$primary-text-color: #333;
$bg-w: #ffffff;
$font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", 'メイリオ', Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;

body {
    font-family: $font-family;
    margin: 0;

nav {
    text-align: center;
    padding: 5px;
        a {
            color: $primary-text-color;
            text-decoration: none;
            font-size: 32px;
        }
}

header {
    background-image: url("../images/main.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    padding-top: 5%;
    padding-bottom: 2%;
}



@media screen and (width: 1024px) {
    .media_section {
        margin: 20px;
        .column_1 {
            width: 60%;
            div {
                img {
                    width: 250px;
                }
                .date {
                    font-size: 11px;
                }
                h5 {
                    font-size: 14px !important;
                }
                p {
                    font-size: 12px;
                }
            }
        }
        .column_2 {
            width: 30%;
        }
    }
}

@media screen and (width: 1366px) {
    .media_section {
        margin: 10px;
    }
}
// section
section {
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 50px;
    .column_1 {
        width: 70%;
        float: left;
        padding: 15px;
            .blog {
                margin-bottom: 5%;
                cursor: pointer;
                img {
                    float: left;
                    width: 250px;
                    padding-right: 10px;
                }
                .date {
                    color: #333;
                    font-size: 12px;
                    margin: 0;
                }
                h5 {
                    font-size: 18px;
                    margin: 0;
                }
                .imp {
                    color: #E7BA2F;
                }
                p {
                    font-size: 14px;
                }
            } .blog:hover {
                background-color: #EFEFEF;
                box-shadow: 6px 0px 8px 0px rgba(0,0,0,0.5);
            }
            .page_btn {
                padding: 8px;
                width: 40%;
                background-color: #333;
                text-align: center;
                margin: 0 auto;
                margin-bottom: 50px;
                margin-top: 10px;
                cursor: pointer;
                a {
                    text-decoration: none;
                    color: #ffffff;
                }
                i {
                    color: #ffffff;
                    float: right;
                    margin-top: 5px;
                    margin-right: 10px;
                }
            }
            .page_btn:hover {
                opacity: 0.8;
            }
    }
    .column_2 {
        width: 25%;
        float: right;
        padding: 15px;
        background-color: #EFEFEF;
            .f_row {
                background-color: #fff;
                position: relative;
                height: 400px;
                cursor: pointer;
                p {
                    margin: 0;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    margin-right: -50%;
                    transform: translate(-50%, -50%);
                    a {
                        text-decoration: none;
                        color: #333;
                    }
                }
            }
            .s_row {
                margin-top: 30px;
                margin-bottom: 30px;
                    .h_title {
                        border-bottom: 2px solid #333;
                        h5 {
                            font-size: 22px;
                            font-weight: 500;
                            text-align: center;
                            margin: 0;
                        }
                    }
                    .reco_img {
                        margin-top: 10px;
                        margin-bottom: 4%;
                        cursor: pointer;
                        img {
                            width: 120px;
                            float: left;
                            margin-right: 5px;
                        }
                        p {
                            font-size: 12px;
                        }
                        .date {
                            font-size: 11px;
                            color: #333333;
                        }
                    } .reco_img:hover {
                        opacity: 0.8;
                        background-color: #dddddd;
                    }
            }
            .t_row {
                background-color: #666666;
                height: 100px;
                margin-bottom: 10px;
                position: relative;
                cursor: pointer;
                p {
                    margin: 0;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    margin-right: -50%;
                    transform: translate(-50%, -50%);
                    color: #ffffff;
                    a{
                        text-decoration: none;
                        color: #fff;
                    }
                }
            } .t_row:hover {
                opacity: 0.8;
            }
    }
}

    @media screen and (width: 1024px){
        .scroll-up {
            position: relative;
            margin-top: 2050px !important;
        }
    }

    @media screen and (width: 1440px) {
        .scroll-up {
            position: relative;
            margin-top: 1870px !important;
        }
    }

    @media screen and (width: 1920px) {
        .scroll-up {
            position: relative;
            margin-top: 1750px !important;
        }
    }

    @media screen and (width: 2560px) {
        .scroll-up {
            position: relative;
            margin-top: 1750px !important;
        }
    } 

    .scroll-up {
        position: relative;
        margin-top: 1900px;
        i {
            margin-left: 260px;
            color: #333;
            font-size: 32px;
            cursor: pointer;
            padding: 5px;
        }
        i:hover{
            background-color: rgba(0,0,0,0.5);
            color: #ffffff;
        }
    }

    footer {
        clear: both;
        position: relative;
        padding: 8px;
        margin-top: -200px;
        background-color: #000000;  
            div {
                text-align: center;
                a {
                    color: #fff;
                    font-size: 13px;
                    text-decoration: none;
                    margin-right: 60%;
                }
                p {
                    color: #fff;
                    font-size: 13px;
                    display: inline;
                }
            }
    }

}// end of body